# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/

# not frontend code / generated
/app/
/doc/
/supabase/
/project.inlang/
/src/lib/paraglide/
